:root {
    -unity-font-definition: resource("Fonts/skeleboom");
    font-size: 16px;
}

Label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.unity-progress-bar {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
}

.unity-progress-bar__container {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.196);
    border-right-color: rgba(0, 0, 0, 0.196);
    border-top-color: rgba(0, 0, 0, 0.196);
    border-bottom-color: rgba(0, 0, 0, 0.196);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.unity-progress-bar__background {
    background-color: rgba(0, 0, 0, 0.392);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.unity-progress-bar__progress {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.unity-progress-bar__title {
    padding-top: 0;
    font-size: 20px;
}

#HUDContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

#InfoContainer {
    flex-direction: row;
    justify-content: space-between;
}

#ScoreContainer {
    color: rgb(255, 255, 255);
    height: 100%;
    -unity-text-align: middle-right;
    flex-grow: 0;
    flex-direction: column;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.706);
    font-size: 20px;
}

#ScoreText {
    width: 100px;
    font-size: 24px;
}

#HealthBar {
    width: 300px;
}

#HealthBar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    width: 300px;
    background-color: rgb(163, 50, 50);
}

#ExpBar > #unity-progress-bar {
}

#ExpBar > #unity-progress-bar > .unity-progress-bar__background {
}

#ExpBar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: rgb(61, 168, 215);
}

.overlayContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 39, 39, 0.455);
}

.submenuContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.upperContainer {
    height: 45%;
    justify-content: flex-end;
    align-items: center;
}

.lowerContainer {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: 80px;
    color: rgb(0, 0, 0);
    -unity-text-align: upper-center;
    margin-bottom: 40px;
    -unity-font-definition: resource("Fonts/blackwood_castle/BLACC___");
    text-shadow: 2px 2px 0 rgb(255, 255, 255);
    letter-spacing: 2px;
    -unity-text-outline-width: 0.75px;
    -unity-text-outline-color: rgb(255, 255, 255);
}

.titleIcon {
    width: 150px;
    height: 150px;
    position: absolute;
}

.button {
    margin-bottom: 30px;
    width: 350px;
    background-image: resource("Asset Packs/Fantasy UI Borders/Default/Transparent border/panel-transparent-border-005#panel-transparent-border-005");
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.902);
    font-size: 26px;
    -unity-font-definition: resource("Fonts/skeleboom");
    letter-spacing: 7px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out-cubic;
    -unity-slice-left: 32;
    -unity-slice-top: 32;
    -unity-slice-right: 32;
    -unity-slice-bottom: 32;
    -unity-background-image-tint-color: rgba(63, 63, 63, 0.902);
    -unity-slice-scale: 1.25px;
    -unity-slice-type: tiled;
    aspect-ratio: 4;
}

.button:hover {
    color: rgb(255, 255, 255);
    background-image: resource("Asset Packs/Fantasy UI Borders/Default/Panel/panel-005#panel-005");
    -unity-background-image-tint-color: rgba(63, 63, 63, 0.961);
    scale: 1.05 1.05;
    background-color: rgb(255, 255, 255);
}

.button:focus {
    color: rgb(255, 255, 255);
    background-image: resource("Asset Packs/Fantasy UI Borders/Default/Panel/panel-005#panel-005");
    -unity-background-image-tint-color: rgba(63, 63, 63, 0.961);
    background-color: rgb(255, 255, 255);
}
