:root {
}

Label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.unity-progress-bar__progress {
    background-color: rgb(255, 0, 0);
}

.unity-progress-bar__background {
    background-color: rgb(21, 19, 29);
}

.unity-progress-bar {
    color: rgb(255, 255, 255);
}

#ExpBar > #unity-progress-bar {
}

#ExpBar > #unity-progress-bar > .unity-progress-bar__background {
}

#ExpBar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: rgb(113, 109, 255);
}

.overlayContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 39, 39, 0.455);
}
